<button ng-click="loadInfoModel()">Refresh</button>
<div ng-repeat="i in infos | orderBy : 'name' : false">
  <h2>{{ i.name }}</h2>
  <input type="text" ng-model="i.value" ng-if="i.attributes.length > 0">
  <button ng-click="updateInfoModel(i.name, i.value)">Update {{i.name}}</button>
  <table>
    <th ng-if="i.attributes.length > 0">Attribute name</th>
    <th ng-if="i.attributes.length > 0">Value</th>
    <th ng-if="i.attributes.length > 0">Self-learned value</th>
    <tr ng-repeat="a in i.attributes">
      <td>{{ a.name }}</td>
      <td>{{ a.value }}</td>
      <td>{{ a._learningValues }}</td>
    </tr>
  </table>
</div>


<div ng-repeat="event in externals">
  {{event.name}}
  <input type="text" ng-model=event.value>
  <button ng-click="updateInfoModel(event.name, true)">Update {{event.name}}</button>
</div>
